.loader {
    width: 25px;
    aspect-ratio: 1;
    display: grid;
    border: 2.5px solid #0000;
    border-radius: 50%;
    border-right-color: #fff;
    animation: l15 1s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
  }
  .loader::after {
    margin: 8px;
    animation-duration: 3s;
  }
  @keyframes l15{ 
    100%{transform: rotate(1turn)}
  }


  @keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.input-group input {
  width: 94%;
  padding: 12px 10px 10px 10px;
  font-size: 16px;
  background: #555;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #ccc;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
  background: #555;
  padding: 0 5px;
}

.input-group.focused label,
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #1abc9c;
  background: #555;
  left: 8px;
}

.eye-button {
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
